# Review

1. Import `pandas` and load in the file called `gapminder_gdp_oceania.csv`

In [1]:
%%bash 
ls data/ -F

gapminder_gdp_americas.csv
gapminder_gdp_europe.csv
gapminder_gdp_oceania.csv

1. Re-import the data, this time setting the `index_col` argument to the `country` variable.

In [2]:
import pandas as pd
df = pd.read_csv('data/gapminder_gdp_oceania.csv')

1. Describe the variables and datatypes

In [3]:
df = pd.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [4]:
americas = pd.read_csv('data/gapminder_gdp_americas.csv', index_col='country')

- Do the same for the file `gapminder_gdp_americas.csv`

In [5]:
americas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, Argentina to Venezuela
Data columns (total 13 columns):
continent         25 non-null object
gdpPercap_1952    25 non-null float64
gdpPercap_1957    25 non-null float64
gdpPercap_1962    25 non-null float64
gdpPercap_1967    25 non-null float64
gdpPercap_1972    25 non-null float64
gdpPercap_1977    25 non-null float64
gdpPercap_1982    25 non-null float64
gdpPercap_1987    25 non-null float64
gdpPercap_1992    25 non-null float64
gdpPercap_1997    25 non-null float64
gdpPercap_2002    25 non-null float64
gdpPercap_2007    25 non-null float64
dtypes: float64(12), object(1)
memory usage: 2.7+ KB

- Use `.iloc` to select the object in the `[0, 0]` position.  What does this value correspond to?

In [6]:
americas.iloc[0,0]

'Americas'

- Use `.loc` to select all rows containing the variable `Albania`

In [7]:
#To find all for the rows
americas.loc['Peru',:]

continent         Americas
gdpPercap_1952     3758.52
gdpPercap_1957     4245.26
gdpPercap_1962     4957.04
gdpPercap_1967     5788.09
gdpPercap_1972     5937.83
gdpPercap_1977     6281.29
gdpPercap_1982      6434.5
gdpPercap_1987     6360.94
gdpPercap_1992     4446.38
gdpPercap_1997     5838.35
gdpPercap_2002     5909.02
gdpPercap_2007     7408.91
Name: Peru, dtype: object

- Use `.loc` to select all columns for the variable `gdpPercap_1952`

In [8]:
americas.loc ["Peru", "gdpPercap_1997" :]

gdpPercap_1997    5838.35
gdpPercap_2002    5909.02
gdpPercap_2007    7408.91
Name: Peru, dtype: object

In [9]:
#To find all for the coloums
americas.loc[:, "gdpPercap_1952"]

country
Argentina               5911.315053
Bolivia                 2677.326347
Brazil                  2108.944355
Canada                 11367.161120
Chile                   3939.978789
Colombia                2144.115096
Costa Rica              2627.009471
Cuba                    5586.538780
Dominican Republic      1397.717137
Ecuador                 3522.110717
El Salvador             3048.302900
Guatemala               2428.237769
Haiti                   1840.366939
Honduras                2194.926204
Jamaica                 2898.530881
Mexico                  3478.125529
Nicaragua               3112.363948
Panama                  2480.380334
Paraguay                1952.308701
Peru                    3758.523437
Puerto Rico             3081.959785
Trinidad and Tobago     3023.271928
United States          13990.482080
Uruguay                 5716.766744
Venezuela               7689.799761
Name: gdpPercap_1952, dtype: float64

- What does the following line of code do to the dataframe `data`:

```python 
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])
```

In [10]:
print(americas.loc['Haiti':'Mexico', 'gdpPercap_1962':'gdpPercap_1972'])

          gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Haiti        1796.589032     1452.057666     1654.456946
Honduras     2291.156835     2538.269358     2529.842345
Jamaica      5246.107524     6124.703451     7433.889293
Mexico       4581.609385     5754.733883     6809.406690

- Use the results of the above code and apply the `max()` method to the slice.

In [11]:
print(americas.loc['Haiti':'Mexico', 'gdpPercap_1962':'gdpPercap_1972'].max)

<bound method DataFrame.max of           gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Haiti        1796.589032     1452.057666     1654.456946
Honduras     2291.156835     2538.269358     2529.842345
Jamaica      5246.107524     6124.703451     7433.889293
Mexico       4581.609385     5754.733883     6809.406690>

- Select the rows of the dataframe where the variable `gdpPercap_1972` is greater than 13,000.  How many countries are there?

In [12]:
europe = pd.read_csv("data/gapminder_gdp_europe.csv", index_col ='country')
newInfo = europe[europe['gdpPercap_1972'] > 13000]
newInfo

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Austria,6137.076492,8842.598030,10750.721110,12834.60240,16661.62560,19749.42230,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.49270
Belgium,8343.105127,9714.960623,10991.206760,13149.04119,16672.14356,19117.97448,20979.84589,22525.56308,25575.57069,27561.19663,30485.88375,33692.60508
Czech Republic,6876.140250,8256.343918,10136.867130,11399.44489,13108.45360,14800.16062,15377.22855,16310.44340,14297.02122,16048.51424,17596.21022,22833.30851
Denmark,9692.385245,11099.659350,13583.313510,15937.21123,18866.20721,20422.90150,21688.04048,25116.17581,26406.73985,29804.34567,32166.50006,35278.41874
Finland,6424.519071,7545.415386,9371.842561,10921.63626,14358.87590,15605.42283,18533.15761,21141.01223,20647.16499,23723.95020,28204.59057,33207.08440
France,7029.809327,8662.834898,10560.485530,12999.91766,16107.19171,18292.63514,20293.89746,22066.44214,24703.79615,25889.78487,28926.03234,30470.01670
Germany,7144.114393,10187.826650,12902.462910,14745.62561,18016.18027,20512.92123,22031.53274,24639.18566,26505.30317,27788.88416,30035.80198,32170.37442
Iceland,7267.688428,9244.001412,10350.159060,13319.89568,15798.06362,19654.96247,23269.60750,26923.20628,25144.39201,28061.09966,31163.20196,36180.78919
Netherlands,8941.571858,11276.193440,12790.849560,15363.25136,18794.74567,21209.05920,21399.46046,23651.32361,26790.94961,30246.13063,33724.75778,36797.93332
Norway,10095.421720,11653.973040,13450.401510,16361.87647,18965.05551,23311.34939,26298.63531,31540.97480,33965.66115,41283.16433,44683.97525,49357.19017
Sweden,8527.844662,9911.878226,12329.441920,15258.29697,17832.02464,18855.72521,20667.38125,23586.92927,23880.01683,25266.59499,29341.63093,33859.74835
Switzerland,14734.232750,17909.489730,20431.092700,22966.14432,27195.11304,26982.29052,28397.71512,30281.70459,31871.53030,32135.32301,34480.95771,37506.41907
United Kingdom,9979.508487,11283.177950,12477.177070,14142.85089,15895.11641,17428.74846,18232.42452,21664.78767,22705.09254,26074.53136,29478.99919,33203.26128

# The answer is 13!

- Are there any missing values?  Where?

In [13]:
newInfo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, Austria to United Kingdom
Data columns (total 12 columns):
gdpPercap_1952    13 non-null float64
gdpPercap_1957    13 non-null float64
gdpPercap_1962    13 non-null float64
gdpPercap_1967    13 non-null float64
gdpPercap_1972    13 non-null float64
gdpPercap_1977    13 non-null float64
gdpPercap_1982    13 non-null float64
gdpPercap_1987    13 non-null float64
gdpPercap_1992    13 non-null float64
gdpPercap_1997    13 non-null float64
gdpPercap_2002    13 non-null float64
gdpPercap_2007    13 non-null float64
dtypes: float64(12)
memory usage: 1.3+ KB

In [14]:
newInfo.isnull().sum()

gdpPercap_1952    0
gdpPercap_1957    0
gdpPercap_1962    0
gdpPercap_1967    0
gdpPercap_1972    0
gdpPercap_1977    0
gdpPercap_1982    0
gdpPercap_1987    0
gdpPercap_1992    0
gdpPercap_1997    0
gdpPercap_2002    0
gdpPercap_2007    0
dtype: int64

- What does the following line of code do?

```python
mask_higher = data.apply(lambda x:x>x.mean())
```

In [15]:
mask_higher = newInfo.apply(lambda x:x>x.mean())
mask_higher

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Austria,False,False,False,False,False,True,True,False,True,True,True,True
Belgium,False,False,False,False,False,False,False,False,True,False,False,False
Czech Republic,False,False,False,False,False,False,False,False,False,False,False,False
Denmark,True,True,True,True,True,True,True,True,True,True,True,True
Finland,False,False,False,False,False,False,False,False,False,False,False,False
France,False,False,False,False,False,False,False,False,False,False,False,False
Germany,False,False,True,True,True,True,True,True,True,False,False,False
Iceland,False,False,False,False,False,False,True,True,False,True,True,True
Netherlands,True,True,True,True,True,True,False,False,True,True,True,True
Norway,True,True,True,True,True,True,True,True,True,True,True,True
Sweden,False,False,True,True,True,False,False,False,False,False,False,False
Switzerland,True,True,True,True,True,True,True,True,True,True,True,True
United Kingdom,True,True,True,False,False,False,False,False,False,False,False,False

- How about this one?

```python
wealth_score = mask_higher.aggregate('sum',axis=1)/len(data.columns)
```

In [16]:
wealth_score = mask_higher.aggregate('sum',axis=1)/len(newInfo.columns)

AttributeError: 'DataFrame' object has no attribute 'aggregate'

- And finally:

```python
data.groupby(wealth_score).sum()
```

Write an expression to find the Per Capita GDP of Serbia in 2007.

In [ ]:
europe.loc['Serbia', 'gdpPercap_2007']


- What does the following code do?  Explain each line.

```python
first = pandas.read_csv('data/gap_data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')
```

Write an expression to find the following:

1. GDP per capita for all countries in 1982. *George*
2. GDP per capita for Denmark for all years. *Max*
3. GDP per capita for all countries for years after 1985. *Bo*
4. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952. *Kashish*

### Loops and Data Sets

In [ ]:
import pandas as pd

In [ ]:
for file in ['data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_asia.csv']:
    data = pd.read_csv(file, index_col='country')
    print(file, data.min())

### Using `glob.glob` to load files

In Unix, the term “globbing” means “matching a set of files with a pattern”.
The most common patterns are:
- \* meaning “match zero or more characters”
- ? meaning “match exactly one character”

Python contains the glob library to provide pattern matching functionality
The glob library contains a function also called glob to match file patterns E.g., glob.glob('\*.txt') matches all files in the current directory whose names end with .txt.
Result is a (possibly empty) list of character strings.

In [ ]:
import glob
print('all csv files in data directory:', glob.glob('data/gap_data/*.csv'), '\n')

In [ ]:
for filename in glob.glob('data/gap_data/gapminder_*.csv'):
    data = pd.read_csv(filename)
    print(filename, data['gdpPercap_1952'].min())

**PROBLEM**


Which of these files is not matched by the expression glob.glob('data/gap_data/\*as\*.csv')?

1. `data/gapminder_gdp_africa.csv`
2. `data/gapminder_gdp_americas.csv`
3. `data/gapminder_gdp_asia.csv`
4. 1 and 2 are not matched.

The answer is 4, both 1 and two would not work

### Writing Functions

In [ ]:
def hi_there(name):
    print('Hi there', name)

In [ ]:
hi_there('Steve')

Using `return` in functions:

Use return ... to give a value back to the caller.
May occur anywhere in the function.
But functions are easier to understand if return occurs:
- At the start to handle special cases.
- At the very end, with a final result.

In [ ]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [ ]:
average([3, 4, 5])

**PROBLEM**


Fill in the blanks to create a function that takes a single filename as an argument, loads the data in the file named by the argument, and returns the minimum value in that data

```python
import pandas

def min_in_data(____):
    data = ____
    return ____
```

In [ ]:
def min_in_data(filepath):
    data = pd.read_csv(filepath)
    return data.min()

In [ ]:
min_in_data('data/gap_data/gapminder_all.csv')

**PROBLEM**

Assume the code below has been executed:

```python
import pandas as pd

df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
```

- Complete the statements below to obtain the average GDP for Japan across the years reported for the 1980s.

```python
year = 1983
gdp_decade = 'gdpPercap_' + str(year // ____)
avg = (japan.loc[gdp_decade + ___] + japan.loc[gdp_decade + ___]) / 2
```


- Abstract the code above into a single function.

```python
def avg_gdp_in_decade(country, continent, year):
    df = pandas.read_csv('data/gapminder_gdp_'+___+'.csv',delimiter=',',index_col=0)
    ____
    ____
    ____
    return avg
```

In [ ]:
df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
year = 1983
gdp_decade = 'gdpPercap_' + str(year // 10)
avg = (japan.loc[gdp_decade + '2'] + japan.loc[gdp_decade + '7']) / 2

In [ ]:
def eighties_avg(filepath, country):
    df = pd.read_csv(filepath, index_col=0)
    c = df.loc[country]
    year = 1983
    gdp_decade = 'gdpPercap_' + str(year // 10)
    avg = (c.loc[gdp_decade + '2'] + c.loc[gdp_decade + '7']) / 2
    print('The average in the 80s for ', country, 'was', avg)
    return avg

In [ ]:
eighties_avg('data/gap_data/gapminder_gdp_asia.csv', 'Afghanistan')

In [ ]:
str(year // 10)

In [ ]:
year / 10

In [ ]:
str(year // 10) + '2'